@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Pacifico&family=Playfair+Display:wght@400;500;800&family=Ubuntu:ital,wght@0,300;1,400;1,700&display=swap');
* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Playfair Display', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    background: white;
}


/* navbar css */

.container {
    display: flex;
    /* justify-content:space-around; */
    margin: 20px 7% 20px 7%;
}

nav {
    font-family: 'poppins', sans-serif;
    background: white;
    color: black;
}

nav ul {
    display: flex;
    align-items: center;
    height: 50px;
}

nav ul li {
    list-style-type: none;
    /* margin: 28px; */
    padding: 18px;
}

nav ul li a {
    text-decoration: none;
    list-style-type: none;
    color: black;
    font-size: 18px
}

.brand {
    display: flex;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    align-items: center;
    margin: 0 50% 0 10px;
}

.brand span {
    color: #FF4706;
}

.login {
    font-size: 18px;
    position: absolute;
    font-weight: bold;
    align-items: center;
    margin: -14px 0 0 24%;
    padding: 8px 15px 8px 15px;
    background-color: #FF4706;
    border-radius: 5px;
}

.login a {
    position: fixed;
    margin-right: 0px;
}

.signup {
    font-size: 18px;
    position: absolute;
    font-weight: bold;
    align-items: center;
    margin: -14px 0 0 28%;
    padding: 8px 15px 8px 15px;
    background-color: #FF4706;
    border-radius: 5px;
}

.signup a {
    position: fixed;
    margin-right: 0px;
}

#toggle {
    position: absolute;
    margin-top: -26px;
    left: 28%;
}


/* header css */

.header {
    margin-top: 20px;
    /* margin-left: 20px; */
    margin-left: 0px;
    display: flex;
    flex-direction: row;
}

.text {
    /* border: 5px solid blue; */
    width: 1120px;
    height: 500px;
}

.textdata {
    margin-top: 91px;
    margin-left: 67px;
    /* margin-left: 10px; */
    margin-right: 20px;
}

.text h2 {
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: medium;
    font-size: 64px;
}

.text p {
    margin-top: 15px;
    font-family: 'Poppins';
    font-size: 18px;
}

.banner {
    display: flex;
    flex-direction: row;
    /* border:5px solid red; */
    width: 90%;
}

.banner .bannerimage {
    width: 100%;
    background-color: #EBEBEB;
    border-radius: 20px;
}


/* popular recipe part */

.subtitle {
    position: relative;
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: medium;
    font-size: 44px;
    align-items: center;
    padding: 5%;
    left: 32%;
}

.cardcontain {
    display: grid;
    grid: 450px /auto auto auto;
    grid-gap: 20px;
    margin: 20px 7% 20px 7%;
}

.card {
    width: 90%;
    height: 450px;
    background-color: white;
    box-shadow: 0px 6px 5px 6px rgba(0, 0, 0, 0.07);
    border-radius: 10px;
}

.card .cardimg {
    width: 100%;
    height: 300px;
    border-radius: 10px;
    background-color: #EBEBEB;
}


/* popular category part */

.categorycontain {
    display: grid;
    grid: 250px /33% 33% 33%;
    grid-gap: 20px;
    margin: 20px 7% 20px 7%;
}

.cardcategory {
    position: inherit;
    width: 90%;
    height: 250px;
    background-color: white;
    /* box-shadow: 0px 6px 5px 6px rgba(0, 0, 0, 0.2); */
    border-radius: 10px;
    align-items: center;
    text-align: center;
    padding: 10px;
}

.cardcategoryimg {
    margin-bottom: 20PX;
    /* display: block; */
    border-radius: 50%;
    background-color: #b1b1b1;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    width: 150px;
    height: 150px;
}

.cardcategorydata {
    margin: 30px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
}


/* bottom data */

.Bottomtext {
    width: 1000px;
    height: 400px;
    margin-top: 80px;
    margin-left: 60px;
    /* margin-left: 10px; */
    margin-right: 10px;
}

.Bottomtextdata {
    margin-top: 80px;
    margin-left: 60px;
    /* margin-left: 10px; */
    margin-right: 10px;
}

.Bottomtextdata p {
    margin-top: 20px;
}

.Bottomhead {
    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    /* line-height: 64px; */
}

.banner .Bottombannerimage {
    width: 100%;
    background-color: #EBEBEB;
    border-radius: 20px;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}